<header>
    <h1>
        From

    </h1>
    {{ template "_nav" . }}
</header>

<main>
    <p>
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
        this page demos a form with various inputs
    </p>


    {{template "_element" .Local.Form }}

</main>

{{ template "_footer" }}