body > * {
  grid-column: unset;
}

form table {
  max-width: 100%;

  display: inline-block;
  overflow-x: auto;
}

body {
  display: flex;
  flex-direction: column;
}

aside {
  min-width: 15rem;
}

main {
  padding: 1rem;
  margin: 0 auto 0 auto;
  max-width: 100vw;
  overflow-x: auto;
}

main:not(:has(table)) {
  max-width: 900px;
}

@media only screen and (width<=720px) {
  table tr {
    display: flex;
    flex-direction: column;
    width: 1fr;

    margin-bottom: 1rem;
  }

  table,
  table tbody,
  table thead {
    display: block;
    width: 100%;
  }
}
