<div class="fc g2 m2">
    <!-- Top Bar -->
    <div class="fc g2">
        <h1>
            Water
        </h1>

        {{ template "_nav" }}
    </div>
    <p>
        This page demos how fluid (like water) the page can be.
        Partial reloads achieved by calling our sardines with htmlx.
    </p>

    <div class="fr g2 fw">
        <div class="fc g2 p2">
            <span>
                Refreshing the time every 5 seconds
            </span>

            {{ template "_server_time" . }}

        </div>
        

        <div class="fc g2 p2">
            <span>
                Here we rotate an image with clicks.
            </span>
            {{ template "_smile_photo" . }}
        </div>
    </div>
</div>