<header>
    <h1>Season</h1>
    {{ template "_nav" . }}
</header>

<main>
    <p>
        This page demos how a query param can change how the page is rendered
    </p>

    {{if not .Fish }}
    <ul>
        <li hx-boost="true">
            <a href="season?q=spring">Spring</a>
        </li>
        <li hx-boost="true">
            <a href="season?q=summer">Summer</a>
        </li>
        <li hx-boost="true">
            <a href="season?q=fall">Fall</a>
        </li>
        <li hx-boost="true">
            <a href="season?q=winter">Winter</a>
        </li>
    </ul>
    {{else}}
    <span>
        You queried: {{ .Fish }}
    </span>
    {{end}}
</main>


{{ template "_footer" . }}