<header>
    <h1>Edit User</h1>
    {{ template "_nav" . }}
</header>

<main>
    {{if .}}
    <div>
        <label for="lastName">Last Name</label>
        <input
            type="text"
            name="last_name"
            id="lastName"
            value="{{ .Fish.LastName }}"
        >
    </div>
    <div>
        <label for="firstName">First Name</label>
        <input
            type="text"
            name="first_name"
            id="firstName"
            value="{{ .Fish.FirstName }}"
        >
    </div>
    {{else}}
    <div>
        <span>
            No user
        </span>
    </div>
    {{end}}
</main>

{{ template "_footer" }}