<fieldset>
    {{ $root := . }}

    {{if .Legend}}
    <legend>{{.Legend}}</legend>
    {{end}}

    {{range $i, $item := .Options}}
    <div>
        <input
            type="checkbox"
            name="{{$root.Key}}"
            id="{{$root.ID}}-{{$i}}"
            value="{{$i}}"
            {{if $root.Disabled}} disabled {{end}}
            {{if $root.Required}} required {{end}}
            {{if InputPickMany $root.Value $i}} checked {{end}}
        >
        <label for="{{$root.ID}}-{{$i}}">{{$item.Print}}</label>
    </div>
    {{end}}
</fieldset>