<div>
    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}
    <input
        type="date"
        name="{{.Key}}"
        id="{{.ID}}"
        value="{{HTMLPrintDate .Value}}"

        {{if .Disabled}} 
        disabled
        {{end}}

        {{if .Required}} 
        required
        {{end}}

        {{if .Readonly}} 
        readonly
        {{end}}
        
        {{if .Min}}
        min="{{HTMLPrintDate .Min}}"
        {{end}}
        
        {{if .Max}}
        max="{{HTMLPrintDate .Max}}"
        {{end}}
    >
</div>