<div>
    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}
    <input
        type="number"
        name="{{.Key}}"
        id="{{.ID}}"
        min="{{.Min}}"
        max="{{.Max}}"
        value="{{.Value}}"

        {{if .Disabled}} 
        disabled
        {{end}}

        {{if .Required}} 
        required
        {{end}}

        {{if .Readonly}} 
        readonly
        {{end}}

        {{if .Placeholder}}
        placeholder="{{.Placeholder}}"
        {{end}}
    >
</div>