<div>
    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}

    <select
        name="{{.Key}}"
        id="{{.ID}}"

        {{if .Disabled}} 
        disabled
        {{end}}

        {{if .Required}} 
        required
        {{end}}
    >
        {{if .PromptSelect}}
        <option value="">--Please choose an option--</option>
        {{end}}

        {{range $i, $item := .Options}}
        <option value="{{$item.Value}}">
            {{$item.Print}}
        </option>
        {{end}}
    </select>

</div>