<div>
    {{ $root := . }}

    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}

    <select
        name="{{.Key}}"
        id="{{.ID}}"
        {{if .Disabled}} disabled {{end}}
        {{if .Multiple}} multiple {{end}}
        {{if .Size}} size="{{.Size}}" {{end}}
        {{if .Required}} required {{end}}
    >
        {{if .PromptSelect}}
        <option value="">--Please choose an option--</option>
        {{end}}

        {{range $i, $item := .Options}}
        <option 
            value="{{$i}}"
            {{if InputPickMany $root.Value $i}} selected {{end}}
        >
            {{$item.Print}}
        </option>
        {{end}}
    </select>

</div>