<div>
    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}
    <input
        type="{{.Kind}}"
        name="{{.Key}}"
        id="{{.ID}}"
        value="{{.Value}}"
        minlength="{{.MinLen}}"
        maxlength="{{.MaxLen}}"
        {{if .Disabled}} disabled {{end}}
        {{if .Required}} required {{end}}
        {{if .Readonly}} readonly {{end}}
        {{if .Pattern}} pattern="{{.Pattern}}" {{end}}
        {{if .Placeholder}} placeholder="{{.Placeholder}}" {{end}}
    >
</div>