<div>
    {{if .Label}}
    <label for="{{.ID}}">
        {{.Label}}
    </label>
    {{end}}
    <input
        type="time"
        name="{{.Key}}"
        id="{{.ID}}"
        value="{{HTMLPrintTime .Value}}"

        {{if .Disabled}} 
        disabled
        {{end}}

        {{if .Required}} 
        required
        {{end}}

        {{if .Readonly}} 
        readonly
        {{end}}

        {{if .Min}}
        min="{{HTMLPrintTime .Min}}"
        {{end}}
        
        {{if .Max}}
        max="{{HTMLPrintTime .Max}}"
        {{end}}
    >
</div>