<div class="fc g2 m2">
    <div class="fc g2">
        <h1> Drag Drop </h1>
        {{ template "_nav" . }}
    </div>
    <p>
        Drag drop is controlled by JS, its result is temporary.
        Quickly replaced by the server re-render of the state.
    </p>
    <p>
        On drag the css is changed, but so are the hidden elements
        for form submission.
        On drag end the server gets the new state of this element
        and re renders it.
        The delay is observable in background color change.
    </p>

    <p>
        The snap to grid is enforced by the server (go).
        The container boundary is enforced by the client (js).
    </p>

    {{ template "_container" . }}
</div>